---
import CardComponent from "../components/CardComponent.astro";
import CardProductComponent from "../components/CardProductComponent.astro";
import IconScrollComponent from "../components/IconScrollComponent.astro";
import VideoComponent from "../components/VideoComponent.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const cards = [
  {
    head: "Доставка по РФ",
    icon: "icon-map",
    content:
      "Благодаря налаженной транспортной сети, мы готовы доставить продукцию в любой регион России.",
  },
  {
    head: "13 лет на рынке",
    icon: "icon-13",
    content:
      "Компания 'Профиль-С' уже более 13 лет занимается поставками стальных труб.",
  },
  {
    head: "Контроль качества",
    icon: "icon-iso",
    content:
      "Мы следим за качеством продукции. От производителя, до отгрузки нашим клиентам.",
  },
  {
    head: "Режим работы 24/7",
    icon: "icon-work",
    content:
      "Мы понимаем, как иногда важно получить груз в кратчайшие сроки не дожидаясь окончания выходных.",
  },
];

const products = [
  {
    id: 1,
    name: "Труба круглая",
    size: "10x10",
  },
  {
    id: 2,
    name: "Труба круглая",
    size: "10x10",
  },
  {
    id: 3,
    name: "Труба круглая",
    size: "10x10",
  },
  {
    id: 4,
    name: "Труба круглая",
    size: "10x10",
  },
  {
    id: 5,
    name: "Труба круглая",
    size: "10x10",
  },
  {
    id: 6,
    name: "Труба круглая",
    size: "10x10",
  },
  {
    id: 7,
    name: "Труба круглая",
    size: "10x10",
  },
  {
    id: 8,
    name: "Труба круглая",
    size: "10x10",
  },
];
---

<BaseLayout>
  <section class="hero">
    <article>
      <h1>Мы поставляем трубы любого типоразмера</h1>

      <p>
        Благодаря налаженным связям с металлургическими заводами России,
        Профиль-С имеет возможность осуществлять поставки по рыночным ценам, в
        разумные сроки, в любой уголок РФ, минимальной партией от одной тонны.
      </p>

      <a href="/catalog" class="button">Посмотреть каталог</a>
    </article>

    <IconScrollComponent />
  </section>

  <h3>Почему стоит выбирать нас?</h3>

  <section class="why-we-are">
    {
      cards.map((card) => (
        <CardComponent
          head={card.head}
          icon={card.icon}
          content={card.content}
        />
      ))
    }
  </section>

  <VideoComponent />

  <h3>Наша процукция</h3>

  <section class="our-products">
    {
      products.map((product) => (
        <CardProductComponent
          id={product.id}
          name={product.name}
          size={product.size}
        />
      ))
    }
  </section>

  <a href="/catalog" class="button">Посмотреть каталог</a>
</BaseLayout>

<style lang="scss">
  section {
    display: grid;
    margin: auto;
    max-width: var(--t-max-width);
  }

  .hero {
    background: url("/images/steel-pipes-in-the-factory.jpg") no-repeat center
      center / cover;
    color: white;
    height: 100vh;
    max-width: unset;

    article {
      margin: auto;
      max-width: var(--t-max-width);
      width: 100%;

      p {
        max-width: 720px;
      }
    }
  }

  .why-we-are {
    grid-template: auto / repeat(4, 1fr);
    gap: 40px;
  }

  .our-products {
    display: flex;
    gap: 40px;
    overflow: auto;
    scrollbar-color: darkgrey #ffffff;
    scrollbar-width: thin;
  }

  .button {
    margin: 100px auto;
  }
</style>
